.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.stars {
  padding: 1em;
  text-decoration: none;
}
.newMovie {
  margin: 0.5em;
}
.newMovie label{
  position: absolute;
  left: 35%;
  margin: 0.5em;
}
.newMovie input{
  margin: 0.6em;
}
.newMovie button{
  margin: 1em;
  padding: 0.5em;
}
.navbar {
  margin-bottom: 2%;
}
.navbar a{
  text-decoration: none;
  padding: 1em;
  border: 1px solid;
  border-color: black;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
